.content{
    margin:0 100px;
    display:grid;
    grid-template-areas: 
    "img desc desc" 
    "img desc desc"
    "img rel rel"
       ;
}
.img_grid{
 grid-area:img;
 height: 80vh;
}
.img_grid>img{
    height: 100%;
    transition: all 0.5s ease-in;
}
.img_grid>img:hover{
    height: 100%;
    transform: scale(0.9);
}
.description{
grid-area:desc;
}
.description>p{
    font-size: 40px;
    font-weight: bold;
}
.rel-links{
grid-area:rel;
display: flex;
justify-content: space-around;
}
.link{
    
    height: 40px;
    width: 60px;
    border:1px solid red;
}