
.discription{
    font-size: 1.7rem;
    text-align: center;
    transition: all ease-in-out 2s;
    display:grid;
    grid-template-areas: "img desc desc"
     "img desc desc"
     "img link link";
     align-items: center;
    background-color: #eee;
    margin-inline:100px;
    padding:20px;
}
.card-desc{
    margin-inline:100px;
    grid-area:desc;
    margin-bottom: 5vh;
}
.Img-desc{
    grid-area: img;
    width: 100px;
    height: 140px;
    border:3px solid black;
}
.Img-desc>img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.relLinks{
    grid-area:link;
}

